<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texts</key>
	<array>
		<string>Overview

A lumbar disc herniation occurs when the soft inner core of the disc in your back pushes (herniates) through the firm outer layer of the disc. It is 3 times more likely to occur in men and usually occurs during the 4th and 5th decades of life. Lumbar disc herniations most commonly occur at the lowest lumbar level, L5-S1. This typically causes back pain and in some cases the disc herniation pinches the nerves, which may lead to leg pain, numbness, tingling, and weakness. 80-90% of disc herniations can be resolved with time and without requiring surgery.

Symptoms

Lumbar disc herniations almost always cause some degree of low back pain, due to the trauma of the disc rupture. This pain can vary dramatically, causing some people to be confined to bed while others can continue with their daily activities. In situations where the nerves are pinched by the disc herniation, it is common to have leg pain that can go down the buttocks, thighs, lower legs, and even into the feet and toes. This is often accompanied by numbness and tingling that may be localized to a certain part of the lower extremity. In some cases patients will experience weakness in certain muscle groups. For example, when the S1 nerve root is pinched, patients may have trouble standing on the toes of the affected extremity.

In rare cases patients will experience signs and symptoms of cauda equina, which is often a surgical emergency. This is characterized by intense back and leg pain, weakness in the legs, numbness in the groin and buttock area, and difficulties with bowel and bladder function. If you experience these symptoms go to an emergency room immediately.

Diagnosis

X-rays only show bones and thus cannot demonstrate a disc herniation. At times they will show narrowing of a disc space level where the disc is herniated because of degenerative disc disease. 

With persistent back and leg symptoms that are unbearable or have lasted longer than a month, an MRI is often necessary. MRI scans, unlike x-rays, have the ability to illustrate soft tissue such as disc herniations. In addition to demonstrating a disc herniation, an MRI will also show whether or not a herniation is pinching a nerve.

Prevention

Lumbar disc herniations may be prevented by avoiding the following: improper lifting, excessive body weight, repetitive strenuous activity, and smoking.
A lumbar disc herniation occurs when the soft inner core of the disc in your back pushes (herniates) through the firm outer layer of the disc. It is 3 times more likely to occur in men and usually occurs during the 4th and 5th decades of life. Lumbar disc herniations most commonly occur at the lowest lumbar level, L5-S1. This typically causes back pain and in some cases the disc herniation pinches the nerves, which may lead to leg pain, numbness, tingling, and weakness. 80-90% of disc herniations can be resolved with time and without requiring surgery.

Symptoms

Lumbar disc herniations almost always cause some degree of low back pain, due to the trauma of the disc rupture. This pain can vary dramatically, causing some people to be confined to bed while others can continue with their daily activities. In situations where the nerves are pinched by the disc herniation, it is common to have leg pain that can go down the buttocks, thighs, lower legs, and even into the feet and toes. This is often accompanied by numbness and tingling that may be localized to a certain part of the lower extremity. In some cases patients will experience weakness in certain muscle groups. For example, when the S1 nerve root is pinched, patients may have trouble standing on the toes of the affected extremity.

In rare cases patients will experience signs and symptoms of cauda equina, which is often a surgical emergency. This is characterized by intense back and leg pain, weakness in the legs, numbness in the groin and buttock area, and difficulties with bowel and bladder function. If you experience these symptoms go to an emergency room immediately.

Diagnosis

X-rays only show bones and thus cannot demonstrate a disc herniation. At times they will show narrowing of a disc space level where the disc is herniated because of degenerative disc disease. 

With persistent back and leg symptoms that are unbearable or have lasted longer than a month, an MRI is often necessary. MRI scans, unlike x-rays, have the ability to illustrate soft tissue such as disc herniations. In addition to demonstrating a disc herniation, an MRI will also show whether or not a herniation is pinching a nerve.

Prevention

Lumbar disc herniations may be prevented by avoiding the following: improper lifting, excessive body weight, repetitive strenuous activity, and smoking.</string>
		<string>Cervical disc herniations almost always cause some degree of neck pain, due to the trauma of the disc rupture. This pain can vary dramatically, causing some people to have to alter their daily routine, while others can continue with their daily activities. In situations where the nerves are pinched by the disc herniation, it is common to have cervical radiculopathy, which consists of arm pain that can go down the base of the neck, shoulders, forearms, and even into the hands and fingers. This is often accompanied by numbness and tingling that may be localized to a certain part of the upper extremity. In some cases patients will experience weakness in certain muscle groups. For example, when the C7 nerve root is pinched, patients may have trouble with the triceps, which allows you to keep your elbow straight.
 
When the spinal cord is pinched by the disc herniation, patients may experience signs and symptoms of cervical myelopathy. This is a potentially serious condition that is characterized by difficulty with balance and walking, over-active nerve reflexes, trouble with delicate finger movements such as buttoning buttons, and issues with bowel and bladder function.</string>
		<string>X-rays only show bones and thus cannot demonstrate a disc herniation. At times they will show narrowing of a disc space level where the disc is herniated because of degenerative disc disease.  
 
With persistent neck and arm symptoms that are unbearable or have lasted longer than a month, an MRI is often necessary. MRI scans, unlike x-rays, have the ability to illustrate soft tissue such as disc herniations. In addition to demonstrating a disc herniation, an MRI will also show whether or not a herniation is pinching a nerve or the spinal cord.</string>
	</array>
	<key>titles</key>
	<array>
		<string>Description</string>
		<string>Symptoms</string>
		<string>Diagnosis</string>
	</array>
</dict>
</plist>
